@import "~antd/dist/antd.css";

body {
  background-color: #f0f2f5;
}

.home-box {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 80%;
  height: 700px;
  margin: 0 auto 100px;
  top: 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.home-box h1 {
  position: relative;
  font-size: 350%;
}

.home-box button {
  margin: 10px;
  max-width: 25%;
}

.login-form {
  position: relative;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  top: 65px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.register-form {
  position: relative;
  background: #ffffff;
  max-width: 50%;
  margin: 0 auto 100px;
  top: 65px;
  padding: 45px 150px 45px 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.register-form input {
  width: 100%;
}

.register-form-forgot {
  width: 100%;
}
